[submodule "wombag"]
	path = lisp/wombag
	url = https://github.com/goofansu/wombag.git
[submodule "ob-racket"]
	path = lisp/ob-racket
	url = https://github.com/goofansu/emacs-ob-racket.git
[submodule "tempel-templates"]
	path = templates/private
	url = git@git.sr.ht:~goofansu/tempel-templates
