[submodule "wombag"]
	path = vendor/wombag
	url = https://github.com/goofansu/wombag.git
[submodule "ob-racket"]
	path = vendor/ob-racket
	url = https://github.com/goofansu/emacs-ob-racket.git
[submodule "tempel-templates"]
	path = templates/private
	url = git@github.com:goofansu/tempel-templates
