*~
/.org-id-locations
/bookmarks
/chatgpt/
/custom.el
/eln-cache/
/elpa/
/eshell/
/fastgpt/
/forge-database.sqlite
/gptel-crowdsourced-prompts.csv
/history
/mastodon.plstore
/persist/
/places
/projects
/recentf
/request/
/transient/
/tree-sitter/
/undo-fu-session/
/url/
/wombag/
/.emacs.desktop
/.emacs.desktop.lock
/.mc-lists.el
/rake.cache
/nov-places
/multisession/
/devdocs/
/racket-mode/
/.local/
/.DS_Store
/dape-breakpoints
elpaca
elpa-bakup
.aider*
/tramp
/.lsp-session
/debug-adapters/
/elfeed/
/cache/lsp
/cache
/etc/
/var/
.idea
.cache
