[submodule "lisp/wombag"]
	path = lisp/wombag
	url = https://github.com/goofansu/wombag.git
[submodule "lisp/emacs-ob-racket"]
	path = lisp/emacs-ob-racket
	url = https://github.com/goofansu/emacs-ob-racket.git
